<div class="table_box">

    <div class="table_header bg-lightblack">
        <button id="newCron" class="btn btn-info btn-xs" data-toggle="modal" data-target="#addModal"><i class="fa fa-plus"></i></button>
        <button id="generateCron" class="btn btn-info btn-xs" data-toggle="modal" data-target="#generateModal">generate_Cron</button>
        <span><strong>请注意：任何修改要生效，请点击“generate_Cron”。</strong></span>
    </div>
    <div class="table_content">
        <table id="cron_list" class="table  table-bordered table-hover">
            <thead>
                <tr>
                    <th>CronName</th>
                    <th class="info">Command</th>
                    <th class="danger">Schedule</th>
                    <th>Owner</th>
                    <th>Cron_server</th>
                    <th>Cron_user</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="cron_tb">
                {% for cron in cron_tuple %}
                     <tr class="server_tr">
                        <td class="center">{{ cron[1] }}</td>
                        <td class="center">{{ cron[2]}}</td>
                        <td class="center">{{ cron[3]}}</td>
                        <td class="center">{{ cron[4]}}</td>
                        <td class="center">{{ cron[5]}}</td>
                        <td class="center">{{ cron[6]}}</td>
                        <td class="center">
                            <button data-id={{ cron[0] }} type="button" class="btn btn-info btn-xs" onclick="Edit(this)">
                                <i class="fa fa-pencil-square-o"></i>
                            </button>
                            <button data-id={{ cron[0] }} type="button" class="btn btn-danger btn-xs" onclick="Delete(this)">
                                <i class="fa fa-trash-o"></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>